<h1>Pirate</h1>

<div class="pirate">
  <p>Name: <%= @pirate.name %></p>
  <p>Weight: <%= @pirate.weight %></p>
  <p>Height: <%= @pirate.height %></p>
</div>

<h2>Display your first ship here</h2>
<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
      <p>Name: <%= ship.name %></p>
      <p>Type: <%= ship.type %></p>
      <p>Booty: <%= ship.booty %></p>


<h2>Display your second ship here</h2>
  </div>
<% end %>